{# _product_options.html #}
{% if item.extra_fields %}
    <div class="text-sm mt-3 space-y-1">
        {% if item.extra_fields.size %}
            <p>Size: {{ item.extra_fields.size }}</p>
        {% endif %}
        {% if item.extra_fields.call_up_number %}
            <p>Call-up Number: {{ item.extra_fields.call_up_number }}</p>
        {% endif %}
        {% if item.extra_fields.custom_name_text %}
            <p>Custom Name: {{ item.extra_fields.custom_name_text }}</p>
        {% endif %}
    </div>
{% endif %}