{% extends "products/base_detail.html" %}

{% block product_specific_details %}
<div class="stats bg-base-200 shadow">
    <div class="stat">
        <div class="stat-title">Product Type</div>
        <div class="stat-value text-lg">{{ product.get_type_display }}</div>
    </div>
</div>
{% endblock %}

{% block product_specific_form_fields %}
    {# Show different fields based on product type #}
    {% if product.type == 'vest' %}
        <div class="form-control w-full max-w-xs">
            <label class="label">
                <span class="label-text">Select Size</span>
                <span class="label-text-alt text-primary">Required</span>
            </label>
            <select class="select select-bordered" name="size" required>
                <option value="">Choose a size</option>
                {% for size_code, size_name in clothes_sizes %}
                    <option value="{{ size_code }}">{{ size_name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endblock %}